extends ../layouts/head.pug 

block title 
  title= title 

block bodyContent 
  div(style={height: "100vh", display: "grid", "place-items": "center", })
    div(style={margin: "auto", width: "600px",}) 
      h4(style={"font-size": "30px","text-align": "center"})= error.message 
      h3(style={"text-align": "center"})= error.status 
      p= error.stack 