extends ../layouts/head.pug 

block title 
  title= title 

block bodyContent 
  div(style={height: "100vh", display: "grid", "place-items": "center", })
    div(style={margin: "auto", width: "80%",}) 
      h4(style={"font-size": "30px","text-align": "left"})= error.message 
      h3(style={"text-align": "left"})= error.status 
      br
      br
      p= error.stack 