extends ../layouts/head.pug

block title 
  title= title 

block cssLink 
  link(rel="stylesheet", href="/css/register.min.css")

block jsLink 
  script(src="/js/register.js" defer)

block bodyContent 
  h1 Register page