doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title

    //- CSS link
    //- bootstrap cdn link added
    //- link(rel="stylesheet", href="/css/bootstrap.min.css")
    //- custom css link added
    link(rel="stylesheet", href="/css/style.css")
    block cssLink 

    //- JS link
    script(src="/js/app.js" defer) 
    block jsLink

  body 
    block bodyContent 
