.login-card {
  margin: 10px;
}

.input {
}

.input__field {
  margin: 10px 0px 0px 0px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  outline: none;
}

.input__error {
  color: #f44336;
  font-size: 14px;
  /* margin-top: 5px; */
  height: 20px;
  width: 100%;
  background-color: transparent;
}
