* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/helvetica/HelveticaNeueRoman.woff");
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: black; */
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signup-form,
.signin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__title {
  margin-bottom: 20px;
}

.input__field:focus {
  border-color: #03a9f4;
}

.button--submit {
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #03a9f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.button--submit:hover {
  background-color: #0288d1;
}

.button--submit:active {
  background-color: #01579b;
}

.button--submit:disabled {
  background-color: #b3e5fc;
  cursor: not-allowed;
}

.card__footer {
  margin-top: 10px;
  margin-bottom: 13px;
  text-align: center;
  font-size: 15px;
  color: #333;
}
.card__link {
  color: #03a9f4;
  font-size: 16px;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 500px;
  padding: 40px;
}

.card__link:hover {
  color: #0288d1;
}

.card__link:active {
  color: #01579b;
}
