* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "helvetica";
  src: url("../../assets/fonts/helvetica/HelveticaNeueRoman.woff");
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: black; */
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.middler-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-field {
  margin: 10px 0px 0px 0px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  outline: none;
}

.input-field:focus {
  border-color: #03a9f4;
}

.error {
  color: #f44336;
  font-size: 14px;
  /* margin-top: 5px; */
  height: 20px;
  width: 100%;
  background-color: transparent;
}

.btn {
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #03a9f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  background-color: #0288d1;
}

.btn:active {
  background-color: #01579b;
}

.btn:disabled {
  background-color: #b3e5fc;
  cursor: not-allowed;
}

.redirect-describer {
  margin-top: 10px;
  margin-bottom: 13px;
  text-align: center;
  font-size: 15px;
  color: #333;
}
.redirect-link {
  color: #03a9f4;
  font-size: 16px;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 500px;
  padding: 40px;
}

.redirect-link:hover {
  color: #0288d1;
}

.redirect-link:active {
  color: #01579b;
}
